{% extends "backend/layouts/layout.html.twig" %}

{% block title %}
Sửa Hình Sản Phẩm
{% endblock %}

{% block headline %}
Sửa Hình Sản Phẩm
{% endblock %}

{% block content %}
<form name="frmhinhsanpham" id="frmhinhsanpham" method="POST" action="/shop/backend/hinhsanpham/edit.php?hsp_ma={{ hinhsanpham.hsp_ma }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Hình ảnh</label><br/>
        <img src="/shop/assets/uploads/{{ hinhsanpham.hsp_tentaptin }}" class="img-fluid" width="300px" />
    </div>
    <div class="form-group">
        <label for="sp_ma">Sản phẩm</label>
        <select class="form-control" id="sp_ma" name="sp_ma">
            {% for sanpham in ds_sanpham %}
                {% if sanpham.sp_ma == hinhsanpham.sp_ma %}
                <option value="{{ sanpham.sp_ma }}" selected>{{ sanpham.sp_tomtat }}</option>
                {% else %}
                <option value="{{ sanpham.sp_ma }}">{{ sanpham.sp_tomtat }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="hsp_tentaptin">Tập tin ảnh</label>
        <input type="file" class="form-control" name="hsp_tentaptin" id="hsp_tentaptin"/>
    </div>
    <button class="btn btn-primary" name="btnCapnhat">Cập nhật</button>
</form>
{% endblock %}