{% extends "backend/layouts/layout.html.twig" %}

{% block title %}
Sửa sản phẩm
{% endblock %}

{% block headline %}
Sửa sản phẩm
{% endblock %}

{% block content %}
<form name="frmSanpham" id="frmSanpham" method="POST" action="/shop/backend/sanpham/edit.php?sp_ma={{ sanpham.sp_ma }}">
    <div class="form-group">
        <label for="sp_ma">Mã sản phẩm</label>
        <input type="text" class="form-control" name="sp_ma" id="sp_ma" placeholder="Mã sản phẩm" readonly value="{{ sanpham.sp_ma }}" />
        <small id="sp_maHelp">Mã sản phẩm không được hiệu chỉnh.</small>
    </div>
    <div class="form-group">
        <label for="sp_ten">Tên sản phẩm</label>
        <input type="text" class="form-control" name="sp_ten" id="sp_ten" placeholder="Tên sản phẩm" value="{{ sanpham.sp_ten }}" />
    </div>
    <div class="form-group">
        <label for="sp_mota">Mô tả sản phẩm</label>
        <input type="text" class="form-control" name="sp_mota" id="sp_mota" placeholder="Mô tả sản phẩm" value="{{ sanpham.sp_mota }}" />
    </div>
    <div class="form-group">
        <label for="sp_gia">Giá sản phẩm</label>
        <input type="text" class="form-control" name="sp_gia" id="sp_gia" placeholder="Giá sản phẩm" value="{{ sanpham.sp_gia }}" />
    </div>
    <div class="form-group">
        <label for="sp_giacu">Giá cũ sản phẩm</label>
        <input type="text" class="form-control" name="sp_giacu" id="sp_giacu" placeholder="Giá cũ sản phẩm" value="{{ sanpham.sp_giacu }}" />
    </div>
    <div class="form-group">
        <label for="sp_ngaycapnhat">Ngày cập nhật sản phẩm</label>
        <input type="text" class="form-control" name="sp_ngaycapnhat" id="sp_ngaycapnhat" placeholder="Ngày cập nhật sản phẩm" value="{{ sanpham.sp_ngaycapnhat }}" />
    </div>
    <div class="form-group">
        <label for="sp_soluong">Số lượng sản phẩm</label>
        <input type="text" class="form-control" name="sp_soluong" id="sp_soluong" placeholder="Số lượng sản phẩm"  value="{{ sanpham.sp_soluong }}"/>
    </div>
    <div class="form-group">
        <label for="lsp_ma">Loại sản phẩm</label>
        <select class="form-control" id="lsp_ma" name="lsp_ma">
            {% for loaisanpham in ds_loaisanpham %}
                {% if loaisanpham.lsp_ma == sanpham.lsp_ma %}
                <option value="{{ loaisanpham.lsp_ma }}" selected>{{ loaisanpham.lsp_ten }}</option>
                {% else %}
                <option value="{{ loaisanpham.lsp_ma }}">{{ loaisanpham.lsp_ten }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="ncc_ma">Nhà cung cấp</label>
        <select class="form-control" id="ncc_ma" name="ncc_ma">
            {% for nhacungcap in ds_nhacungcap %}
                {% if nhacungcap.ncc_ma == sanpham.ncc_ma %}
                <option value="{{ nhacungcap.ncc_ma }}" selected>{{ nhacungcap.ncc_ten }}</option>
                {% else %}
                <option value="{{ nhacungcap.ncc_ma }}">{{ nhacungcap.ncc_ten }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="km_ma">Khuyến mãi</label>
        <select class="form-control" name="km_ma" id="km_ma">
            <option value="">Không áp dụng khuyến mãi</option>
            {% for khuyenmai in ds_khuyenmai %}
                {% if khuyenmai.km_ma == sanpham.km_ma %}
                <option value="{{ khuyenmai.km_ma }}" selected>{{ khuyenmai.km_tomtat }}</option>
                {% else %}
                <option value="{{ khuyenmai.km_ma }}">{{ khuyenmai.km_tomtat }}</option>    
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary" name="btnCapnhat" id="btnCapnhat">Cập nhật</button>
</form>
{% endblock %}